:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --border-color: #8e8f99;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: var(--main-font-family);
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 468px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* ===============Header============= */
/*=============== MOBILE_ FIRST======== */
@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
  .contact {
    display: none;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotextstudio {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ==========MODAL-MOBILE-MENU========= */
@media screen and (min-width: 320px) {
  .modal-menu-social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
.btn-menu-hamburger {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  overflow: scroll;
}
.modal-menu-top {
  margin-bottom: 40px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
}
.modal-link-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.modal-link-nav:hover,
.modal-link-nav:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
}
.modal-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-menu-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.modal-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  margin-top: 284px;
}
.modal-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.modal-mail:hover,
.modal-mail:focus {
  color: #404bbf;
}
.modal-menu-social-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.modal-menu-item-social-icon {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
}
.social-list-link:hover,
.social-list-link:focus {
  background: #404bbf;
}

/* ==========MODAL-MOBILE-MENU========= */
/* =============TABLET============= */
@media screen and (min-width: 768px) {
  .page-header {
    max-height: 72px;
    display: flex;
  }
  .btn-menu-hamburger {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .page-nav {
    display: flex;
    column-gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .menu-nav {
    display: flex;
    column-gap: 24px;
  }
  .contact {
    display: block;
  }
  .contact-menu {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
.list-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--transition-duration-and-func);
}
.curren {
  color: #404bbf;
}
.current {
  color: #404bbf;
}

.current::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  top: 43px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}

.list-item:focus,
.list-item:hover,
.list-item:active {
  color: #404bbf;
}
.contact {
  font-style: normal;
  margin-left: auto;
}
.mailtel {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  transition: color var(--transition-duration-and-func);
}

.mailtel:focus,
.mailtel:hover,
.mailtel:active {
  color: #404bbf;
}

/* =============TABLET============= */
/* ============DESCTOP================= */
@media screen and (min-width: 1158px) {
  .page-header {
  }
  .current::after {
    top: 44px;
  }
  .page-nav {
    column-gap: 76px;
  }
  .mailtel {
    font-size: 16px;
    line-height: 1.5;
  }
  .contact-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
/* ============DESCTOP================= */

/* =================MAIN HERO============ */
.hero {
  background: rgba(46, 47, 66, 0.7);
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg\ .jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 428px),
  screen and (min-resolution: 192dpi) and (max-width: 428px),
  screen and (min-resolution: 2dppx) and (max-width: 428px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg@2x\ .jpg);
  }
}
.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  width: 320px;
  margin-bottom: 72px;
  font-weight: 700;
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  transition: background-color var(--transition-duration-and-func);
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* =============TABLET============= */
@media screen and (min-width: 767px) {
  .hero {
    padding: 112px 0;
  }
  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    width: 496px;
  }
}
@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 429px),
  screen and (min-resolution: 192dpi) and (min-width: 429px),
  screen and (min-resolution: 2dppx) and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-tablet\ 2x\ .jpg);
  }
}

/* =============TABLET============= */
/* =============DESCTOP============= */
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
  .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    width: 496px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-desctop\ .jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-desctop\ 2x.jpg);
  }
}

/* =============DESCTOP END==== */

/*================ SECTION SECOND============ */
.container-logo-img {
  display: none;
}
.section-second {
  padding-top: 96px;
  padding-bottom: 96px;
}

.menu-section-second {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.tittle-section-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-section-second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =============TABLET============= */
@media screen and (min-width: 768px) {
  .menu-section-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    grid-row-gap: 72px;
  }
  .text-section-second {
    width: 356px;
  }
  .tittle-section-second {
    text-align: left;
  }
}

/* =============TABLET END============= */
/* =============DESCTOP============= */
@media screen and (min-width: 1158px) {
  .section-second {
    padding: 120px 0;
  }

  .tittle-section-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 8px;
  }
  .menu-section-second {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: inherit;
    justify-content: center;
    gap: 24px;
  }
  .container-logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 100px 24px 100px;
    background: #f4f4fd;
    border-radius: 4px;
  }
  .logo-img {
    display: flex;
    box-sizing: content-box;
    margin: auto;
  }
  .item-section-second {
    width: calc((100%-72px) / 4);
  }
  .text-section-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 264px;
  }
}

/* =============DESCTOP END============= */

/* =========SECTION (Third section) What are we doing (Galery)====== */
.section-galery {
  display: none;
}
/* =============DESCTOP ============= */
@media screen and (min-width: 1158px) {
  .section-galery {
    display: block;
    padding-bottom: 120px;
  }
  .title-section-galery {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .menu-section-galery {
    display: flex;
    gap: 24px;
  }
}
/* =============DESCTOP END============= */

/* ========SECTION OUR TEAM ==========*/
.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.title-section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.menu-section-team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
}
.item-section-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-item-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.text-item-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 8px;
}
.container-ttile-section-team {
  padding: 32px 0;
}
.menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.item-menu-social {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color var(--transition-duration-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}

/* =============TABLET============= */
@media screen and (min-width: 768px) {
  .section-team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .menu-section-team {
    column-gap: 24px;
  }
}
/* =============TABLET END ============= */

/* =============DESCTOP ============= */
@media screen and (min-width: 1158px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .menu-section-team {
    flex-wrap: nowrap;
    column-gap: 24px;
  }
}
/* =============DESCTOP END============= */

/* =======================CUSTOMERS================ */
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.title-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.menu-section-customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}
.item-menu-customers {
  width: 190px;
  height: 88px;
}
.link-menu-icon-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--border-color);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.link-menu-icon-customers:hover,
.link-menu-icon-customers:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customers {
  fill: currentColor;
}
/* =============TABLET ============= */
@media screen and (min-width: 768px) {
  .menu-section-customers {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
  }
  .item-menu-customers {
    width: 168px;
    height: 88px;
  }
}
/* =============TABLET END ============= */

/* =============DESCTOP ============= */
@media screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .menu-section-customers {
    flex-wrap: nowrap;
    box-sizing: content-box;
    gap: 24px;
  }
}
/* =============DESCTOP END ============= */

/*========== FOOTER ==========*/
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: auto;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-bottom: 72px;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  width: 268px;
  padding-right: auto;
}
.logotextstudio-footer {
  color: #f4f4fd;
}
.logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.container-social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.menu-social-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.menu-item-social-icon-footer {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color var(--transition-duration-and-func);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.social-icon-footer {
  fill: #f4f4fd;
}
.contaner-footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  width: 100%;
}
.footer-form-field-wrapper {
  width: 100%;
}
.footer-form-input {
  width: 398px;
  height: 40px;
  padding: 8px 16px;
  opacity: 1;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: none;
}
.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 8px 24px;
  outline: none;
  cursor: pointer;
}
.footer-form-button:hover,
.footer-form-button:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form-button-icon {
  width: 20px;
  height: 24px;
  margin-left: 16px;
}
@media screen and (max-width: 427px) {
  .footer-form-input {
    width: 100%;
  }
}
@media screen and (min-width: 428px) {
  .footer-form-input {
    width: 398px;
  }
}
/* =============TABLET ============= */
@media screen and (min-width: 768px) {
  .footer {
  }
  .text-footer {
    width: 264px;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    max-width: 584px;
  }
  .container-logo-footer {
    align-items: flex-start;
  }
  .container-social-footer {
    margin-bottom: 104px;
    align-items: flex-start;
  }
  .contaner-footer-form {
    align-items: flex-start;
  }
  .footer-form {
    flex-direction: row;
    column-gap: 24px;
    width: auto;
  }
  .footer-form-input {
    width: 264px;
  }
}
/* =============TABLET END ============= */
/* =============DESCTOP  ============= */
@media screen and (min-width: 1158px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left: 0;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    max-width: 1158px;
    /* padding: 0; */
    gap: revert;
  }
  .container-logo-footer {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .container-social-footer {
    margin-right: 80px;
    margin-bottom: 0;
  }
  .footer-form-input {
    /* width: 398px; */
  }
}

/* =============DESCTOP END ============= */
/* ====================FOOTER-FORM========= */

/* =====================BACKDROP===================================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
  overflow: scroll;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  min-height: 100%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ================FROM-INPUT===================== */
.contact-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.contact-form-container {
  margin-bottom: 8px;
}
.contact-form-field-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.contact-form-checkbox-wrapper {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-field-desc {
  display: block;
  margin-bottom: 4px;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.contact-form-input-wrapper {
  position: relative;
  display: block;
}
.contact-form-input-icon {
  position: absolute;
  display: flex;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .contact-form-input-icon {
  fill: #4d5ae5;
}
.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.contact-form-container-comment {
  margin-bottom: 16px;
}
.contact-form-container-checkbox {
  display: flex;
  margin-bottom: 24px;
}
.contact-form-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.contact-form-checkmark-icon {
  opacity: 1;
}
.visually-hidden {
  position: absolute;
  appearance: none;
}
.contact-form-checkbox:hover + .contact-form-checkbox-wrapper > .contact-form-checkbox-span,
.contact-form-checkbox:focus + .contact-form-checkbox-wrapper > .contact-form-checkbox-span {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-wrapper > .contact-form-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  opacity: 1;
}
.contact-form-checkbox-text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 24px;
}
.container-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form-btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn-submit:hover,
.contact-form-btn-submit:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.contac-form-checkbox-link {
  color: #4d5ae5;
}
@media screen and (min-width: 320px) {
  .modal {
    width: 95%;
    max-width: 392px;
    height: 95%;
    min-height: 584px;
    overflow: scroll;
  }
}
@media screen and (min-width: 468px) {
  .modal {
    width: 408px;
    height: 586px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: auto;
    overflow: unset;
  }
}
/*=============== PAGE PORTFOLIO==================== */
/* .page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
} */
/* =====SECTION BUTTON===== */
/* .services-section {
  padding-top: 48px;
  padding-bottom: 48px;
}
.container-services-section {
  border-top: none;
}
.menu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  column-gap: 24px;
  row-gap: 16px;
  max-width: 270px;
}
.btn-page-portfolio {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #f4f4fd;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-page-portfolio:hover,
.btn-page-portfolio:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .services-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .menu-btn {
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  }
  .btn-page-portfolio {
    padding: 12px 24px;
  }
} */

/* .services-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container-services-section {
  border-top: none;
}
.menu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 72px;
  gap: 24px;
}

.btn-page-portfolio {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #f4f4fd;
  white-space: nowrap;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-page-portfolio:hover,
.btn-page-portfolio:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* =======SECTION GALERY====== */

/* .menu-galery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.item-galery {
  width: 360px;
  height: 420px;
}
.link-galery {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);
}
.link-galery:hover,
.link-galery:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-galery:hover .overlay,
.link-galery:focus .overlay {
  transform: translateY(0);
}
.container-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  overflow: auto;
  transform: translate(0px, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-item-galery {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-menu-galery {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.text-menu-galery {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
} */
